<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point
   		id="SenecaJudge"
   		name="Seneca Judge Exception Point"
   		schema="schema/SenecaJudge.exsd"/>

   <extension point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.seneca.business.SenecaManager"
            service="net.bioclipse.seneca.business.SenecaManagerFactory">
      </scriptContribution>
   </extension>

   <extension point="org.eclipse.help.toc">
      <toc file="userHelp.xml" primary="true"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category name="SENECA" id="net.bioclipse.seneca.category"/>

	  <wizard canFinishEarly="false"
         category="net.bioclipse.seneca.category"
         class="net.bioclipse.seneca.wizard.NewSenecaJobWizard"
         hasPages="true"
         icon="icons/molecule16.gif"
         id="net.bioclipse.plugins.wizards.NewSenecaJobResourceWizard"
         name="Seneca Job">
         <description>
            Create a new Seneca Job.
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.seneca.editor.SenecaJobEditor"
            contributorClass="net.bioclipse.seneca.editor.SenecaJobEditorContributor"
            extensions="sjs"
            icon="icons/molecule16.gif"
            id="net.bioclipse.seneca.editor.SenecaJobEditor"
            name="Seneca Job Specification Editor"/>
   </extension>

   <!-- SENECA views -->

   <extension point="org.eclipse.ui.views">
      <view name="Elucidation Progress"
	        icon="icons/molecule16.gif"
            category="net.bioclipse.seneca.category"
            class="net.bioclipse.seneca.views.BestStructureView"
            id="net.bioclipse.seneca.views.BestStructureView">
      </view>
   </extension>

   <!-- the judges -->
   <extension
         point="net.bioclipse.seneca.SenecaJudge">
      <CASEJudge
            class="net.bioclipse.seneca.judge.WCCNMRShiftDBJudge"
            id="WCCNMRShiftDBJudge"
            name="WCCNMRShiftDBJudge"/>
      <CASEJudge
            class="net.bioclipse.seneca.judge.WCCHOSECodeJudge"
            id="WCCHOSECodeJudge"
            name="WCCHOSECodeJudge"/>
      <CASEJudge
            class="net.bioclipse.seneca.judge.HMBCJudge"
            id="HMBCJudge"
            name="HMBCJudge"/>
      <CASEJudge
            class="net.bioclipse.seneca.judge.HOSECodeJudge"
            id="HOSECodeJudge"
            name="HOSECodeJudge"/>
      <CASEJudge
            class="net.bioclipse.seneca.judge.HHCOSYJudge"
            id="HHCOSYJudge"
            name="HHCOSYJudge"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective name="Seneca"
          class="net.bioclipse.seneca.SenecaPerspective"
          id="net.bioclipse.seneca.SenecaPerspective"
          icon="icons/molecule16.gif">
      </perspective>
   </extension>
   
   <extension
        point="org.eclipse.ui.commands">
     <command
           id="net.bioclipse.seneca.commands.EvaluateCommand"
           categoryId="net.bioclipse.seneca.category"
           name="Dummy"/>
   </extension>
   
   <extension
        point="org.eclipse.ui.handlers">
     <handler
        class="net.bioclipse.seneca.actions.EvaluateHandler"
        commandId="net.bioclipse.seneca.commands.EvaluateCommand">
     </handler>
   </extension> 
   
   <extension point="org.eclipse.ui.menus">
   	 <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="net.bioclipse.seneca.commands.EvaluateCommand"
               icon="icons/molecule16.gif"
               label="Evaluate with Seneca scoring functions ..."
              >
        <visibleWhen>
   		<iterate operator="and" ifEmpty="false">
      			<adapt type="org.eclipse.core.resources.IResource">
      			<or>
                    <test property="org.eclipse.core.resources.contentTypeId" 
           	    		value="net.bioclipse.contenttypes.mdlMolFile2D"/>
   	      		    <test property="org.eclipse.core.resources.contentTypeId" 
       	        		value="net.bioclipse.contenttypes.mdlMolFile3D"/>
   	      		    <test property="org.eclipse.core.resources.contentTypeId" 
       	        		value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
   	      		    <test property="org.eclipse.core.resources.contentTypeId" 
       	        		value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
               	</or>
      			</adapt>
   		</iterate>
        </visibleWhen>
        </command>
   	 </menuContribution>
   </extension>
</plugin>
